<div class="container-fluid px-0">
  <div class="row g-3">
    <div class="col-lg-4 mb-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="1">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit25.jpg" alt="Kapital"> </figure>
          <div class="content-box"> <b>25.</b>
            <h3 class="h4">Kapital</h4>
              <div class="expand">
                <p>
                  Internet Shop, service, pug, css, js, webpack
                </p>
                <span class="visit-link">Learn More</span>
              </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="2">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit26.jpg" alt="Design Kate"> </figure>
          <div class="content-box"> <b>26.</b>
            <h3 class="h4">Design Kate</h4>
              <div class="expand">
                <p>
                  Landing, html, css, js, gulp
                </p>
                <span class="visit-link">Learn More</span>
              </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="-0.5">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit27.jpg" alt="Bomber"> </figure>
          <div class="content-box"> <b>27.</b>
            <h3 class="h4">Bomber</h4>
              <div class="expand">
                <p>
                  Web game, html, css, js, phaser.js
                </p>
                <span class="visit-link">Learn More</span>
              </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>