<div class="container-fluid px-0">
  <div class="row g-3">
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="1">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit13.jpg" alt="Yandex Birthday"> </figure>
          <div class="content-box"> <b>13.</b>
            <h4>Yandex Birthday</h4>
            <div class="expand">
              <p>
                Landing, html, css, js, webpack
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="-0.5">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit14.jpg" alt="Lumos"> </figure>
          <div class="content-box"> <b>14.</b>
            <h4>Lumos</h4>
            <div class="expand">
              <p>
                Service, html, css, js, bootstrap
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="1">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit15.jpg" alt="Jobx"> </figure>
          <div class="content-box"> <b>15.</b>
            <h4>Jobx</h4>
            <div class="expand">
              <p>
                Web application, Ruby, Ruby on Rails, slim, coffee script
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>