<div class="container-fluid px-0">
  <div class="row g-3">
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="-1">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit31.jpg" alt="Hromatograf"> </figure>
          <div class="content-box"> <b>31.</b>
            <h4>Hromatograf</h4>
            <div class="expand">
              <p>
                CMS, wordpress, html, css, js, gulp
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="-2">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit32.jpg" alt="Wim"> </figure>
          <div class="content-box"> <b>32.</b>
            <h4>Wim</h4>
            <div class="expand">
              <p>
                Welcome page, html, css, js
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="-3">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit33.jpg" alt="Wether App"> </figure>
          <div class="content-box"> <b>33.</b>
            <h4>Wether App</h4>
            <div class="expand">
              <p>
                Plugin, html, css, js
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>