<div class="container-fluid px-0">
  <div class="row g-3">
    <div class="col-lg-4 mb-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="1">
        <a href="http://lazer-beauti.ru/avito/" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit04.jpg" alt="Avito Parser"> </figure>
          <div class="content-box"> <b>04.</b>
            <h3 class="h4">Avito Parser</h3>
            <div class="expand">
              <p>
                Web application, landing, html, css, js, webpack
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="-0.5">
        <a href="http://lazer-beauti.ru/deluxe-house/" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit05.jpg" alt="Deluxe House"> </figure>
          <div class="content-box"> <b>05.</b>
            <h3 class="h4">Deluxe House</h3>
            <div class="expand">
              <p>
                Multilanding, html, css, js, gulp
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="1">
        <a href="http://v-shumkov.ga#portfolio/portfolio-vladkadoni" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit06.jpg" alt="Kadoni"> </figure>
          <div class="content-box"> <b>06.</b>
            <h3 class="h4">Kadoni personal</h3>
            <div class="expand">
              <p>
                Multilanding, html, css, js, webpack & gulp
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>