<div class="container-fluid px-0">
  <div class="row g-3">
    <div class="col-lg-4 mb-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="-0.5">
        <a href="http://web-archive.site/alto/index.html" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit07.jpg" alt="Alto"> </figure>
          <div class="content-box"> <b>07.</b>
            <h3 class="h4">Alto</h3>
            <div class="expand">
              <p>
                Music web service, landing, html, css, js, vue
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="3">
        <a href="https://ad-data.ru/" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit08.jpg" alt="Add-data"> </figure>
          <div class="content-box"> <b>08.</b>
            <h3 class="h4">Addata</h3>
            <div class="expand">
              <p>
                Web service FMCG marketing, landing, html, css, js, gulp, modeling
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="0.5">
        <a href="https://valerij2000.github.io/zero-design" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit09.jpg" alt="Kadoni"> </figure>
          <div class="content-box"> <b>09.</b>
            <h3 class="h4">Zero Design</h3>
            <div class="expand">
              <p>
                Personal Landing, html, css, js, gulp
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>