<div class="container-fluid px-0">
  <div class="row g-3">
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="2">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit28.jpg" alt="Rostjob"> </figure>
          <div class="content-box"> <b>28.</b>
            <h4>Rostjob</h4>
            <div class="expand">
              <p>
                Application, ruby, ruby on rails
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="2">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit29.jpg" alt="Iran Chat"> </figure>
          <div class="content-box"> <b>29.</b>
            <h4>Iran Chat</h4>
            <div class="expand">
              <p>
                Application, native js, html, css, plugin
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="1">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit30.jpg" alt="Radisson Souna"> </figure>
          <div class="content-box"> <b>30.</b>
            <h4>Radisson Souna</h4>
            <div class="expand">
              <p>
                Web service, multilanding, html, css, js, webpack
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>