<div class="container-fluid px-0">
  <div class="row g-3">
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="-1">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit16.jpg" alt="Iqos"> </figure>
          <div class="content-box"> <b>16.</b>
            <h4>Iqos</h4>
            <div class="expand">
              <p>
                Landing, html, css, js, webpack
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="-0.5">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit17.jpg" alt="Lazer"> </figure>
          <div class="content-box"> <b>17.</b>
            <h4>Lazer</h4>
            <div class="expand">
              <p>
                Web service, php, css, js, bootstrap
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="image-icon-box" data-scroll data-scroll-speed="-2">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit18.jpg" alt="Alfa"> </figure>
          <div class="content-box"> <b>18.</b>
            <h4>Alfa</h4>
            <div class="expand">
              <p>
                Web application, html, css, webpack
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>