<div class="container-fluid px-0">
  <div class="row g-3">
    <div class="col-lg-4 products-grid__item">
      <div class="image-icon-box" data-scroll data-scroll-speed="1">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit19.jpg" alt="Avtovaronka"> </figure>
          <div class="content-box"> <b>19.</b>
            <h4>Avtovaronka</h4>
            <div class="expand">
              <p>
                Landing, web service, bootstrap
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 products-grid__item">
      <div class="image-icon-box" data-scroll data-scroll-speed="-1">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit20.jpg" alt="Jobny"> </figure>
          <div class="content-box"> <b>20.</b>
            <h4>Jobny</h4>
            <div class="expand">
              <p>
                Web application, ruby, ruby on rails, slim, coffee script
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 products-grid__item">
      <div class="image-icon-box" data-scroll data-scroll-speed="-0.5">
        <a href="#" target="_blank">
          <figure class="content-image"> <img src="@img/visit/visit21.jpg" alt="Rost"> </figure>
          <div class="content-box"> <b>21.</b>
            <h4>Rost</h4>
            <div class="expand">
              <p>
                Landing, html, css, js, bootstrap
              </p>
              <span class="visit-link">Learn More</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>