<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <button href="#" class="custom-button" id="show-more">SHOW ALL PROJECTS</button>
    </div>
  </div>
</div>