<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <a href="http://v-shumkov.ga#portfolio" target="_blank" class="custom-button">SHOW ALL PROJECTS</a>
    </div>
  </div>
</div>