<section class="content-section no-bottom-spacing bottom-white" data-background="rgb(238, 238, 238)">
  <div class="container">
    <div class="row justify-content-center mb-5 mb-sm-3">
      <div class="col-12">
        <div class="section-title text-center">
          <figure><img src="@img/logos/nav-logo.svg" alt="Logo"></figure>
          <h2 class="h2">Featured Projects</h2>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center mb-5">
        <button class="custom-button">Show projects</button>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="text-content" data-scroll data-scroll-speed="2">
          <h3 class="h6">Avtoraketa</h3>
          <p>One of the largest car dealers in Europe, in the process of work, a large website was developed with an
            auto transfer
            service.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="text-content" data-scroll data-scroll-speed="1">
          <h3 class="h6">Letual</h3>
          <p>Russian trade network for the sale of cosmetics and perfumes, target work is email marketing, development
            CRM email pushing service</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="text-content" data-scroll data-scroll-speed="2">
          <h3 class="h6">M.video</h3>
          <p>Russian trading network for the sale of household appliances and electronics, target work is email
            marketing and web-sites building, development web application, and configurated CRM services</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix spacing-100"></div>
  <div class="horizontal-scroll">
    <div class="scroll-inner" data-scroll data-scroll-direction="horizontal" data-scroll-speed="5">
      <div class="scroll-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="@img/branding/avtoraketa.svg"
                  alt="Project Avtoraketa">
              </figure>
            </div>
            <div class="col-md-4 offset-md-1">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="@img/branding/letual.png"
                  alt="Project Letual">
              </figure>
            </div>
            <div class="col-md-2 offset-md-1">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="@img/branding/mvideo.png"
                  alt="Project MVideo">
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="@img/branding/azbuka.png"
                  alt="Project azbuka vkusa">
              </figure>
            </div>
            <div class="col-md-4 offset-md-1">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="@img/branding/j&j.png" alt=""
                  aria-hidden="true">
              </figure>
            </div>
            <div class="col-md-2 offset-md-1">
              <figure class="image-box" data-scroll data-scroll-speed="0"> <img src="@img/branding/bloom.png" alt=""
                  aria-hidden="true">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>