<section class="content-section">
  <div class="container">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6">
        <div class="art-slider">
          <div class="titles">
            <h6>Art Collection</h6>
            <h2>Work in details</h2>
          </div>
          <div class="swiper-container art-slider-content">
            <div class="swiper-wrapper">
              <div class="swiper-slide art-slide"> <span>01</span>
                <h3>Procter & Gamble Web Game</h3>
              </div>
              <div class="swiper-slide art-slide"><span>02</span>
                <h3>Procter & Gamble Bonus</h3>
              </div>
              <div class="swiper-slide art-slide"><span>03</span>
                <h3>NFT Landing</h3>
              </div>
              <div class="swiper-slide art-slide"><span>04</span>
                <h3>Body Time</h3>
              </div>
              <div class="swiper-slide art-slide"><span>05</span>
                <h3>whiteBit Landing Crypto</h3>
              </div>
              <div class="swiper-slide art-slide"><span>06</span>
                <h3>Iqos</h3>
              </div>
              <div class="swiper-slide art-slide"><span>07</span>
                <h3>Shop Mobile</h3>
              </div>
              <div class="swiper-slide art-slide"><span>08</span>
                <h3>Addata</h3>
              </div>
              <div class="swiper-slide art-slide"><span>09</span>
                <h3>Dietologonline</h3>
              </div>
              <div class="swiper-slide art-slide"><span>10</span>
                <h3>Medical Helping</h3>
              </div>
              <div class="swiper-slide art-slide"><span>11</span>
                <h3>Lady Morgana</h3>
              </div>
              <div class="swiper-slide art-slide"><span>12</span>
                <h3>CodX</h3>
              </div>
              <div class="swiper-slide art-slide"><span>13</span>
                <h3>Building Calculator</h3>
              </div>
              <div class="swiper-slide art-slide"><span>14</span>
                <h3>Iqos</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="art-slider" data-scroll data-scroll-speed="1">
          <div class="swiper-container art-slider-images">
            <div class="swiper-wrapper">
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail14.jpg" alt="Iqos">
              </div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail01.jpg" alt="PG Game"></div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail02.jpg" alt="PGbonus"></div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail03.jpg" alt="NFT Landing">
              </div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail04.jpg" alt="Body Time">
              </div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail05.jpg"
                  alt="whiteBit Landing Crypto"></div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail06.jpg" alt="Iqos"></div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail07.jpg" alt="Shop Mobile">
              </div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail08.jpg" alt="Addata">
              </div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail09.jpg"
                  alt="Dietologonline">
              </div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail10.jpg"
                  alt="Medical Helping">
              </div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail11.jpg" alt="Lady Morgana">
              </div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail12.jpg" alt="CodX">
              </div>
              <div class="swiper-slide art-slide"> <img class="img" src="@img/details/detail13.jpg"
                  alt="Building Calculator">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>