<section class="content-section" data-background="#fff">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="section-title text-center">
          <figure><img src="@img/logos/nav-logo.svg" alt="Image"></figure>
          <h2>Skills & Experience</h2>
        </div>
      </div>
      <div class="col-lg-5 order-2 order-lg-1">
        <div class="side-icon-list right-side">
          <ul>
            <li class="about-item">
              <figure> <i class="fa fa-graduation-cap" aria-hidden="true"></i></figure>
              <div class="content">
                <h4 class="h5 about-item__title">My Education</h4>
                <p>At the age of 18, first came in touch with programming
                  interface and app development</p>
                <p>
                  Education Donetsk National University
                </p>
                <p>
                  Specialty applied computer science
                </p>
              </div>
            </li>
            <li class="about-item">
              <figure><i class="fa fa-cube" aria-hidden="true"></i></figure>
              <div class="content">
                <h4 class="h5 about-item__title">Position</h4>
                <p>
                  Middle Front-end Developer
                </p>
              </div>
            </li>
            <li class="about-item">
              <figure> <i class="fa fa-code"></i></figure>
              <div class="content">
                <h4 class="h5 about-item__title">OUR SKILLS</h4>
                <ul>
                  <li>
                    <b>HTML / CSS / JS / jQuery</b>
                  </li>
                  <li>
                    Template Engines: <b>Pug / Slim / Handlebars</b>
                  </li>
                  <li>
                    Preprocessors: <b>Scss / Sass / Less</b>
                  </li>
                  <li>
                    Web Assemblers: <b>Gulp, Webpack, Grunt</b>
                  </li>
                  <li>
                    CSS Frameworks: <b>Bootstrap, Materialize.css</b>
                  </li>
                  <li>
                    Design: <b>Figma, Photoshop, Sketch</b>
                  </li>
                  <li>
                    JS Frameworks: <b>Vue (Nuxt.js), React</b>
                  </li>
                  <li>
                    Web Application: <b>SPA / SSR / PWA</b>
                  </li>
                  <li>
                    CMS: <b>WordPress, Ghost, Strapi, Joomla</b>
                  </li>
                  <li>
                    3D Modeling: <b>Three.js, Blender.js</b>
                  </li>
                  <li>
                    Web Game: - <b>Phaser.js, Three.js</b>
                  </li>
                  <li>
                    <b>PHP, SQL, Ruby, Python, Visual Basic, Pascal</b>
                  </li>
                  <li>
                    Frameworks: <b>Ruby on Rails, Yii, Laravel</b>
                  </li>
                  <li>
                    Database: <b>MySQL, NoSQL</b>
                  </li>
                  <li>
                    <b>Docker</b>
                  </li>
                  <li>
                    Version Control System: <b>GIT</b>
                  </li>
                  <li>
                    <b>GitHub, GitLab, Bitbucket</b>
                  </li>
                  <li>
                    Optimization: <b>SEO, SMM</b>
                  </li>
                  <li>
                    Testing: <b>Jest</b>
                  </li>
                  <li>
                    <b>Cisco</b>
                  </li>
                  <li>
                    <b>BPwin, ERwin Data Modeler, ARIS Express</b>
                  </li>
                </ul>
              </div>
            </li>
            <li class="about-item">
              <figure> <i class="fa fa-globe" aria-hidden="true"></i> </figure>
              <div class="content">
                <h4 class="h5 about-item__title">I am from</h4>
                <p>
                  Ukraine, Donetsk
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7 pl-0 pr-0 order-1 order-lg-2 mb-3">
        <figure class="image-box" data-scroll data-scroll-speed="-1"> <img class="img"
            src="@img/avatar/photo-portfolio.png" alt="My photo">
        </figure>
      </div>
    </div>
  </div>
</section>