<section class="content-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center">
          <figure><img src="@img/logos/nav-logo.svg" alt="Image"></figure>
          <p class="h6">Latest Updates and Works</p>
          <h2 class="h2">Recent Works</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row g-5 mb-5">
      <a href="https://email.wim.agency/projects/Gulp_base/projects/vavt-demografia__molodezh/build/index.html"
        target="_blank" class="col-lg-4 col-sm-12">
        <article class="card-anim" data-scroll data-scroll-speed="1">
          <div class="card-overlay">
            <div class="card-title">
              <div class="line-card"></div>
              <div class="line-card1">
                <h2 class="h1 line-card1-text">ВАВТ</h2>
              </div>
            </div>
          </div>
          <div class="img-container">
            <img class="card-img" src="@img/recent/recent01.jpg" alt="ВАВТ">
          </div>
        </article>
      </a>
      <a href="https://atlas.ru/" target="_blank" class="col-lg-4 col-sm-12">
        <article class="card-anim" data-scroll data-scroll-speed="1">
          <div class="card-overlay">
            <div class="card-title">
              <div class="line-card"></div>
              <div class="line-card1">
                <h2 class="h1 line-card1-text">Atlas</h2>
              </div>
            </div>
          </div>
          <div class="img-container">
            <img class="card-img" src="@img/recent/recent02.jpg" alt="Atlas">
          </div>
        </article>
      </a>
      <a href="https://valerij2000.github.io/fitnness/" target="_blank" class="col-lg-4 col-sm-12">
        <article class="card-anim" data-scroll data-scroll-speed="1">
          <div class="card-overlay">
            <div class="card-title">
              <div class="line-card"></div>
              <div class="line-card1">
                <h2 class="h1 line-card1-text">Fit Mirror</h2>
              </div>
            </div>
          </div>
          <div class="img-container">
            <img class="card-img" src="@img/recent/recent03.jpg" alt="Fit Mirror">
          </div>
        </article>
      </a>
    </div>
    <div class="row g-5 mb-5">
      <a href="https://email.wim.agency/projects/Gulp_base/projects/iqos-sticks-pricing/build/index.html"
        target="_blank" class="col-lg-4 col-sm-12">
        <article class="card-anim" data-scroll data-scroll-speed="1">
          <div class="card-overlay">
            <div class="card-title">
              <div class="line-card"></div>
              <div class="line-card1">
                <h2 class="h1 line-card1-text">Iqos</h2>
              </div>
            </div>
          </div>
          <div class="img-container">
            <img class="card-img" src="@img/recent/recent04.jpg" alt="Iqos">
          </div>
        </article>
      </a>
      <a href="https://avtoraketa.com/" target="_blank" class="col-lg-4 col-sm-12">
        <article class="card-anim" data-scroll data-scroll-speed="1">
          <div class="card-overlay">
            <div class="card-title">
              <div class="line-card"></div>
              <div class="line-card1">
                <h2 class="h1 line-card1-text">Avtoraketa</h2>
              </div>
            </div>
          </div>
          <div class="img-container">
            <img class="card-img" src="@img/recent/recent05.jpg" alt="Avtoraketa">
          </div>
        </article>
      </a>
      <a href="http://lazer-beauti.ru/app-movie/" target="_blank" class="col-lg-4 col-sm-12">
        <article class="card-anim" data-scroll data-scroll-speed="1">
          <div class="card-overlay">
            <div class="card-title">
              <div class="line-card"></div>
              <div class="line-card1">
                <h2 class="h1 line-card1-text">Film search</h2>
              </div>
            </div>
          </div>
          <div class="img-container">
            <img class="card-img" src="@img/recent/recent06.jpg" alt="Film search">
          </div>
        </article>
      </a>
    </div>
    <div class="row g-5 mb-5">
      <a href="http://avtoraketa-perevod.site/" target="_blank" class="col-lg-4 col-sm-12">
        <article class="card-anim" data-scroll data-scroll-speed="1">
          <div class="card-overlay">
            <div class="card-title">
              <div class="line-card"></div>
              <div class="line-card1">
                <h2 class="h1 line-card1-text">Avtoraketa Transfer</h2>
              </div>
            </div>
          </div>
          <div class="img-container">
            <img class="card-img" src="@img/recent/recent07.jpg" alt="Avtoraketa Transfer">
          </div>
        </article>
      </a>
      <a href="https://email.wim.agency/projects/projects/azbuka/build/index.html" target="_blank"
        class="col-lg-4 col-sm-12">
        <article class="card-anim" data-scroll data-scroll-speed="1">
          <div class="card-overlay">
            <div class="card-title">
              <div class="line-card"></div>
              <div class="line-card1">
                <h2 class="h1 line-card1-text">Azbuka Vkusa</h2>
              </div>
            </div>
          </div>
          <div class="img-container">
            <img class="card-img" src="@img/recent/recent08.jpg" alt="Atlas">
          </div>
        </article>
      </a>
      <a href="https://guileless-muffin-9a6095.netlify.app/" target="_blank" class="col-lg-4 col-sm-12">
        <article class="card-anim" data-scroll data-scroll-speed="1">
          <div class="card-overlay">
            <div class="card-title">
              <div class="line-card"></div>
              <div class="line-card1">
                <h2 class="h1 line-card1-text">Portfolio Svetlitskaya</h2>
              </div>
            </div>
          </div>
          <div class="img-container">
            <img class="card-img" src="@img/recent/recent09.jpg" alt="Portfolio Svetlitskaya">
          </div>
        </article>
      </a>
    </div>
  </div>
</section>