<section class="content-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center">
          <figure><img src="@img/logos/nav-logo.svg" alt="Image"></figure>
          <h6>Latest Updates and Works</h6>
          <h2>Recent Works</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <article class="card-anim col-lg-4 col-sm-12" data-scroll data-scroll-speed="-1">
        <div class="card-overlay">
          <div class="card-title">
            <div class="line-card"></div>
            <div class="line-card1">
              <h1 class="line-card1-text">Printure</h1>
            </div>
            <div class="line-card2">
              <h1 class="line-card2-text">Lobox</h1>
            </div>
          </div>
        </div>
        <div class="img-container">
          <img class="card-img" src="https://source.unsplash.com/random/400" />
        </div>
      </article>
      <article class="card-anim col-lg-4 col-sm-12" data-scroll data-scroll-speed="0.5">
        <div class="card-overlay">
          <div class="card-title">
            <div class="line-card"></div>
            <div class="line-card1">
              <h1 class="line-card1-text">Moderock</h1>
            </div>
            <div class="line-card2">
              <h1 class="line-card2-text">Plakill</h1>
            </div>
          </div>
        </div>
        <div class="img-container">
          <img class="card-img" src="https://source.unsplash.com/random/450" />
        </div>
      </article>
      <article class="card-anim col-lg-4 col-sm-12" data-scroll data-scroll-speed="-1">
        <div class="card-overlay">
          <div class="card-title">
            <div class="line-card"></div>
            <div class="line-card1">
              <h1 class="line-card1-text">Slabdrill</h1>
            </div>
            <div class="line-card2">
              <h1 class="line-card2-text">Skizze</h1>
            </div>
          </div>
        </div>
        <div class="img-container">
          <img class="card-img" src="https://source.unsplash.com/random/500" />
        </div>
      </article>
    </div>
  </div>
</section>