<section class="content-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center">
          <figure><img src="@img/logos/nav-logo.svg" alt="Image"></figure>
          <h6>Get Latest Updates and News</h6>
          <h2>Recent News</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="recent-news">
          <div class="content-box"> <small>Dec 26, 2020</small>
            <h3>The Ultimate Guide To
              Knots Practice Kit</h3>
            <p>Learn to tie over 250 knots
              with step-by-step instructions.
              Supplied with 4...</p>
            <a href="#" class="custom-link">Continue reading</a>
          </div>
          <figure data-scroll data-scroll-speed="-1"><img src="@img/recent-news01.jpg" alt="Image"></figure>
        </div>
      </div>
      <div class="col-12">
        <div class="recent-news">
          <div class="content-box"><small>Dec 26, 2020</small>
            <h3>The Ultimate Guide To
              Knots Practice Kit</h3>
            <p>Learn to tie over 250 knots
              with step-by-step instructions.
              Supplied with 4...</p>
            <a href="#" class="custom-link">Continue reading</a>
          </div>
          <figure data-scroll data-scroll-speed="1"><img src="@img/recent-news02.jpg" alt="Image"></figure>
        </div>
      </div>
      <div class="col-12 text-center"> <a href="news.html" class="circle-button">SEE ALL<br>
          NEWS</a> </div>
    </div>
  </div>
</section>