<section class="content-section">
  <div class="video-bg">
    <video src="videos/video.mp4" loop autoplay playsinline muted></video>
  </div>
  <div class="container">
    <div class="cta-box" data-scroll data-scroll-speed="-1">
      <h2 class="typing-text h2">
        A JOB ISN'T JUST A JOB. IT'S WHO YOU ARE.
      </h2>
    </div>
  </div>
</section>