<section class="content-section no-bottom-spacing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center">
          <figure><img src="@img/logos/nav-logo.svg" alt="Image"></figure>
          <h6>Visit the National Wandau Museum</h6>
          <h2>3 steps to be safe</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0">
    <div class="row g-0">
      <div class="col-lg-4">
        <div class="image-icon-box" data-scroll data-scroll-speed="-1">
          <figure class="icon"> <img src="@img/icon04.png" alt="Image"> </figure>
          <figure class="content-image"> <img src="@img/image04.jpg" alt="Image"> </figure>
          <div class="content-box"> <b>01.</b>
            <h4>Check What's Open</h4>
            <div class="expand">
              <p>Your safety is our first priority. Entry to the
                National Maritime Museum is still free, but to
                help us ensure social distancing.</p>
              <a href="#" class="custom-link">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="image-icon-box" data-scroll data-scroll-speed="0.5">
          <figure class="icon"> <img src="@img/icon05.png" alt="Image"> </figure>
          <figure class="content-image"> <img src="@img/image05.jpg" alt="Image"> </figure>
          <div class="content-box"> <b>02.</b>
            <h4>Booking Online</h4>
            <div class="expand">
              <p>Exhibition curator Venetia Porter presents this new exhibition of works by artists from Iran to
                Morocco drawn from the Museum collection.</p>
              <a href="#" class="custom-link">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="image-icon-box" data-scroll data-scroll-speed="1">
          <figure class="icon"> <img src="@img/icon06.png" alt="Image"> </figure>
          <figure class="content-image"> <img src="@img/image06.jpg" alt="Image"> </figure>
          <div class="content-box"> <b>03.</b>
            <h4>Keep Your Distance</h4>
            <div class="expand">
              <p>Take a look at our past exhibitions and enjoy the articles, videos and photo galleries still
                available to view online.</p>
              <a href="#" class="custom-link">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>