<section class="content-section no-bottom-spacing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center">
          <figure>
            <img data-scroll data-scroll-speed="3" class="logo-keyboard" src="@img/logos/keyboard-logo.png"
              alt="Logo Valerij Shumkov">
            <img data-scroll data-scroll-speed="-1" class="logo-mouse" src="@img/logos/mouse.png" alt="Mouse Mac">
          </figure>
          <h6>Visit my projects for a complete immersion in the atmosphere of development</h6>
          <h2>Some Things I’ve Built</h2>
        </div>
      </div>
    </div>
  </div>
  {{>../jobs/linejob01}}
  {{>../jobs/linejob02}}
  {{>../jobs/linejob03}}
  {{>../jobs/loadmore}}
</section>