<div class="smooth-scroll">
  <div class="section-wrapper" data-scroll-section>
    {{>../templates/searchbox}}
    {{>../layouts/aside}}
    {{>../templates/nav}}
    {{>../layouts/header}}
    {{>sections/leading}}
    {{>sections/opportunity}}
    {{>sections/art}}
    {{>sections/visit}}
    {{>sections/collection}}
    {{>sections/videobox}}
    {{>sections/news}}
    {{>sections/feed}}
    {{>../layouts/footer}}
  </div>
</div>