<!DOCTYPE html>
<html lang="en">

<head>
  {{>views/layouts/head title="Valerij Shumkov Portfolio"}}
</head>

<body>
  <div class="wrapper">
    {{>views/utils/preloader}}
    {{>views/utils/transition}}
    {{>views/home/smooth}}
  </div>
  {{!-- Vendors --}}
  <script src="vendors/jquery.min.js"></script>
  <script src="vendors/bootstrap.min.js"></script>
  <script src="vendors/gsap.min.js"></script>
  <script src="vendors/locomotive-scroll.min.js"></script>
  <script src="vendors/ScrollTrigger.min.js"></script>
  <script src="vendors/kinetic-slider.js"></script>
  <script src="vendors/fancybox.min.js"></script>
  <script src="vendors/swiper.min.js"></script>
  <script src="vendors/scripts.js"></script>
</body>

</html>