<aside class="side-widget">
  <svg viewBox="0 0 600 1080" preserveAspectRatio="none" version="1.1">
    <path d="M540,1080H0V0h540c0,179.85,0,359.7,0,539.54C540,719.7,540,899.85,540,1080z"></path>
  </svg>
  <figure> logo </figure>
  <div class="inner">
    <div class="widget">
      <figure><img src="@img/image07.jpg" alt="Image"></figure>
      <p>It speedily me addition <strong>weddings vicinity</strong> in pleasure. Happiness commanded an
        conveying
        breakfast in. Regard her say warmly elinor. Him these are visit front end for <u>seven walls</u>. Money
        eat scale now ask law learn.</p>
    </div>
    <div class="widget">
      <h6 class="widget-title">Opening Hours</h6>
      <p>Tuesday ‒ Friday: 09:00 ‒ 17:00<br>
        Friday ‒ Monday: 10:00 ‒ 20:00</p>
    </div>
  </div>
  <div class="display-mobile">
    <div class="custom-menu">
      <ul>
        <li><a href="#">Eng</a></li>
        <li><a href="#">Rus</a></li>
      </ul>
    </div>
    <div class="site-menu">
      <ul>
        <li><a href="visit.html">Visit</a></li>
        <li><a href="exhibitions.html">Exhibitions</a></li>
        <li><a href="collections.html">Collections</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</aside>