<nav class="navbar">
  <div class="logo"> <a href="index.html">
      <h2 class="logo"><img src="@img/logos/nav-logo.svg" alt="VS logo"></h2>
    </a> </div>
  <div class="custom-menu">
    <ul>
      <li><a href="#">Eng</a></li>
      <li><a href="#">Rus</a></li>
    </ul>
  </div>
  <div class="site-menu">
    <ul>
      <li><a href="https://t.me/valerijshumkov" target="_blank"><i class="fab fa-telegram"></i> /telegram</a></li>
      <li><a href="https://wa.me/79613051320" target="_blank"><i class="fab fa-whatsapp"></i> /whatsapp</a></li>
      <li><a href="https://vk.com/codermind" target="_blank"><i class="fab fa-vk"></i> /vk</a></li>
      <li><a href="https://github.com/Valerij2000" target="_blank"><i class="fab fa-github"></i> /github</a></li>
    </ul>
  </div>
  <div class="hamburger-menu">
    <svg class="hamburger" width="30" height="30" viewBox="0 0 30 30">
      <path class="line line-top" d="M0,9h30" />
      <path class="line line-center" d="M0,15h30" />
      <path class="line line-bottom" d="M0,21h30" />
    </svg>
  </div>
</nav>