<div class="search-box">
  <h2 class="visually-hidden">Serch box information</h2>
  <div class="container">
    <div class="form">
      <h3>SEARCH EVENT</h3>
      <input type="search" placeholder="What are you looking for ?">
      <input type="submit" value="SEARCH">
    </div>
    <div class="search-events">
      <ul>
        <li>
          <h4 class="h5"><a href="#">Artemisia Gentileschi talk with Maria</a></h4>
          <small>15 August – 31 October 2020</small>
        </li>
        <li>
          <h4 class="h5"><a href="#">Artemisia Gentileschi talk with Maria</a></h4>
          <small>15 August – 31 October 2020</small>
        </li>
        <li>
          <h4 class="h5"><a href="#">Artemisia Gentileschi talk with Maria</a></h4>
          <small>15 August – 31 October 2020</small>
        </li>
      </ul>
    </div>
  </div>
</div>